* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'h h' 'n c';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.header {
    grid-area: h;
    background-color: yellowgreen;
}

.nav {
    grid-area: n;
    background-color: dodgerblue;
}

.content {
    grid-area: c;
    background-color: indianred;
}

.content img {
    border: solid 1px white;
    width: 100%;
}